@media (max-width:992px) {
    .chat_form_main form {
        margin: 25px !important;
    }
    .form_signin_btn button:first-child {
        margin-left: 0 !important;
        padding: 6px;
        font-size: 15px;
    }
    .form_signin_btn button:last-child {
        margin-left: 10px !important;
        padding: 6px;
        font-size: 15px;
    }
}
@media (max-width:767px) {
    .chat_form_left, .chat_form_right {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
    .chat_form_card {
        height: 100% !important;
    }
    .chat_form_main {
        flex-direction: column;
    }
    body {
        overflow-y: scroll;
    }
}
.chat_form_left {
    border-radius: 10px;
}
@media (max-width:576px) {
    .chat_form_main .ant-form-item-control-input {
        min-height: 0 !important;
    }
    .chat_form_left form {
        margin: 10px !important;
    }
    .ant-card-body {
        padding: 15px;
    }
    .chat_form_card {
        margin: 30px !important;
    }
    .chat_form_left article h1 {
        font-size: 29px;
    }
}
@media (max-width:400px) {
    .chat_form_left article h1 {
        font-size: 30px;
    }
}