@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  background-image: linear-gradient(to right top, #39447a, #3b508e, #3b5da3, #376bb8, #2e79cd, #2c82d8, #2a8ae4, #2693ef, #3597f3, #419cf7, #4ba0fb, #55a5ff);
    /* background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%); */
    /* background: linear-gradient(315deg, #045de9 0%, #09c6f9 100%) no-repeat;
    background-attachment: fixed; */
    /* overflow-y: hidden; */
}
